DATABASE_URL=postgresql://postgres:difyai123456@172.23.27.133:5432/dify
DIFY_BASE_URL=http://172.23.27.133:8680
DIFY_DATASET_API_KEY=dataset-cxIweTWNRmxtLzJkELrWw20y
LLM_BASE_URL=https://api.deepseek.com/v1
LLM_API_KEY=sk-c126f08be9674fb88dec2eb6929d5756
LLM_MODEL=deepseek-chat
DOCUMENT_EXPORT_DIR=storage/exports
